.todo__tags {
    padding: 1rem;
    border: 2px solid black;
    list-style-type: none;
    padding-right: 12rem;
}

.todo__tags-header {
    display: flex;
    align-items: baseline;
}

.todo__tags-header-title {
    font-size: 1.8rem;
}

.todo__tags-header-button {
    background: none;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.button-icon {
    font-size: 1.8rem;
}

@media(max-width: 768px) {
    .todo__tags {
        padding-right: 8rem;
        border: 1.5px solid black;
    }
    .todo__tags-header-title {
        font-size: 1.3rem;
    }
    .button-icon {
        font-size: 1.3rem;
    }
}

@media(max-width: 425px) {
    .todo__tags {
        padding: 0.8rem;
        padding-right: 6rem;
        border: 1.2px solid black;
    }
    .todo__tags-header-title {
        font-size: 1rem;
    }
    .button-icon {
        font-size: 1rem;
    }
}

@media(max-width: 375px) {
    .todo__tags {
        font-size: 0.85rem;
        padding-right: 5.5rem;
        border: 1px solid black;
    }
    .todo__tags-header {
        display: block;
    }
    .todo__tags-header-title {
        text-align: center; 
        font-size: 1.4rem;
    }
    .todo__tags-header-button {
        display: block;
        margin-inline: auto;
        margin-top: 8px;
    }
    .button-icon {
        font-size: 1.4rem;
    }
}