.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.header__title {
    border: 3px solid black;
    padding: 0.5rem;
}

.header__title-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.header__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media(max-width: 768px) {
    .header__title-text {
        font-size: 2rem;
    }
    .header__title {
        border: 2px solid black;
    }
    .header__buttons {
        gap: 0.9rem;
        font-size: 14px;
    }
}

@media(max-width: 425px) {
    .header__title-text {
        font-size: 1.5rem;
    }
    .header__title {
        border: 1.5px solid black;
    }
    .header__buttons {
        gap: 0.6rem;
        font-size: 11px;
    }
}

@media(max-width: 375px) {
    .header__title-text {
        font-size: 1.3rem;
    }
    .header__title {
        border: 1.5px solid black;
    }
    .header__buttons {
        gap: 0.6rem;
        font-size: 10px;
    }
}