@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

.section-container {
  width: 60%;
  margin-inline: auto;
}

@media(max-width: 1024px) {
  .section-container {
      width: 70%;
  }
}

@media(max-width: 768px) {
  .section-container {
      width: 80%;
      margin-inline: auto;
  }
}

@media(max-width: 485px) {
  .section-container {
      width: 90%;
      margin-inline: auto;
  }
}

@media(max-width: 375px) {
  .section-container {
      width: 95%;
      margin-inline: auto;
  }
}